/node_modules
/public/hot
/public/uploads
/public/storage
/storage/*.key
/vendor
/vendor/*
.vscode
.vscode/*
.env
.phpunit.result.cache
composer.lock
composer.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.json
/bootstrap
